//global

.main-container {
  --ion-background-color: #0a263e;
  font-family: Poppins;
}
ion-input {
  --placeholder-color: rgb(252, 248, 248);
  --color: rgb(252, 248, 248);
}
ion-card {
  box-shadow: none !important;
  border: none !important;
}

// Logo

.topbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 4rem;
}
.qr-logo {
  align-self: center;
  color: rgb(199, 186, 186);
}
.line {
  padding: 0 30px;
  font-size: 20px;
  align-items: center;
  color: rgb(228, 222, 222);
}

.title h3 {
  font-weight: bold;
  text-align: center;
  color: #ffb800;
}

.btn-signin {
  font-weight: bold;
  margin-top: 30px;
  --background: #ffb800;
  --color: rgb(26, 25, 25);
}

// olvisate tu contraseña
.pass-recovery {
  display: flex;
  justify-content: center;
  box-shadow: none !important;
  border: none !important;
}


//ion-icons

.input-icon {
  color: rgb(219, 208, 208);
  display: flex;
  padding-right: 20px;
}

// bottom input icons
.bottom-icon {
  display: flex;
  margin-left: 4px;
}
.btn-password {
  --background: #76e47b;
  --color: rgb(29, 28, 28);
}

.new-account {
  display: flex;
  justify-content: center;
  box-shadow: none !important;
  border: none !important;
  --background: #e4b643;
}

