<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title >
    Registrar Asistencia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Datetime in popover with cover element -->
  <ion-datetime>
    
  </ion-datetime>
  
  <div class="btn-registarAsistencia">
    <ion-button (click)="goToCamera()" color="warning" shape="round" expand="block">Registrar Asistencia <ion-icon class="camara-icon" name="camera-outline"></ion-icon></ion-button>
    
  </div>

</ion-content>
